<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <div class="container mt-5">

                <h1>Services</h1>
                <img src="/images/services.jpg" width="60%">
            </div>

    </body>

</html>